<div class="row">
    <div class="col-md-6">
        <h2>Edit Post</h2>
        <form class="form signup-form">
            <div class="edit-group">
                <label for="post-edit">edit here:</label>
                <input class="post-edit" type="text" id="edit-text" />
            </div>
            <div class="edit-group">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>